<md-card class="disambiguation-component" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
  <md-card-title>
    <md-card-title-text>
      <span class="md-title">{{vm.item.heading}} <a ng-href="{{vm.item.url}}" target="_blank" alt="{{'DuckDuckGo Link to '+vm.item.heading}}"><md-icon aria-label="Launch external link" class="material-icons launch-icon">launch</md-icon></a></span>
      <span class="md-caption">{{vm.item.description}}</span>
    </md-card-title-text>
    <md-card-title-media>
      <div class="md-media-sm card-media image-wrapper">
        <img class="image" ng-src="{{vm.item.image}}"/>
      </div>
    </md-card-title-media>
  </md-card-title>
  <!-- <md-card-actions layout="row" layout-align="end center">
    <md-button>Action 1</md-button>
    <md-button>Action 2</md-button>
  </md-card-actions> -->
</md-card>
