.disambiguation-component {
  display: inline-block;
  width: 320px;
  height: 160px;
  overflow-x: hidden;
  overflow-y: hidden;
  .md-title {
    margin-bottom: 10px;
  }
  .md-caption {
    display: block;
    height: 57px;
    padding-right: 3px;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
  }
  .launch-icon {
    margin: 5px;
    font-size: 16px;
    line-height: 1.5;
  }
  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .image {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto !important;
    }
  }
}
